<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Aalto HIIT</string>
	<key>Builder Version</key>
	<string>11601.4.4</string>
	<key>CFBundleDisplayName</key>
	<string>DiMeTracker</string>
	<key>CFBundleIdentifier</key>
	<string>fi.hiit.dimetracker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4</string>
	<key>CFBundleVersion</key>
	<string>0.4</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>0</integer>
		<key>Global Page</key>
		<string>global-safari.html</string>
	</dict>
	<key>Companion Bundle Identifier</key>
	<array/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>endscript-safari.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>DiMe Tracker for Safari</string>
	<key>DeveloperIdentifier</key>
	<string>JYV3R5X7JQ</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://www.hiit.fi/g/reknow/software/DiMeTrackerExtension.plist</string>
	<key>Website</key>
	<string>http://hiit.github.io/dime-server</string>
</dict>
</plist>
