.shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.05) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.05) inset;
}

/*
.shadow:before, .shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.15);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.15);
    box-shadow:0 0 10px rgba(0,0,0,0.15);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}


::-moz-selection {
    color: rgba(0,0,0,0.7) !important;
    background-color: #ccffea !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 0 0 #91d7e4;
}
::selection {
    color: rgba(0,0,0,0.7) !important;
    background-color: #ccffea !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 0 0 #a4e2dc;
}
*/

span.highlighted {
    background-color: rgba(255, 255, 0, 0.7);
}

.medium-editor-toolbar {
    z-index: 100000;
}